# ðŸ§¹ Data Cleaning and Preprocessing
This notebook follows the steps outlined in the data cleaning task:
- Handle missing values
- Remove duplicates
- Standardize text fields
- Clean and rename columns
- Fix data types
- Save cleaned dataset

In [2]:
import pandas as pd
import zipfile

# Path to the zip file
zip_path = r"C:\Users\madhu\Downloads\archive (5).zip"

# Open the ZIP file and read the CSV
with zipfile.ZipFile(zip_path) as z:
    print("Files inside ZIP:", z.namelist())  # Optional: Check file names inside ZIP
    with z.open("Mall_Customers.csv") as f:   # Make sure the file name is exact
        df = pd.read_csv(f)

# Preview the data
df.head()

Files inside ZIP: ['Mall_Customers.csv']

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
# Check for missing/null values
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [4]:
# Check and remove duplicates
print("Duplicate rows before:", df.duplicated().sum())
df = df.drop_duplicates()
print("Duplicate rows after:", df.duplicated().sum())

Duplicate rows before: 0
Duplicate rows after: 0

In [5]:
# Convert Gender column to lowercase
df['Gender'] = df['Gender'].str.strip().str.lower()
df['Gender'].unique()

array(['male', 'female'], dtype=object)

In [6]:
# Make column names lowercase and replace spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.head()

   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    male   19                  15                      39
1           2    male   21                  15                      81
2           3  female   20                  16                       6
3           4  female   23                  16                      77
4           5  female   31                  17                      40

In [7]:
# Check original data types
print("Before fixing:")
print(df.dtypes)

# Ensure numeric columns are correct types
df['age'] = df['age'].astype(int)
df['annual_income_(k$)'] = df['annual_income_(k$)'].astype(int)
df['spending_score_(1-100)'] = df['spending_score_(1-100)'].astype(int)

print("\nAfter fixing:")
print(df.dtypes)

Before fixing:
customerid                 int64
gender                    object
age                        int64
annual_income_(k$)         int64
spending_score_(1-100)     int64
dtype: object

After fixing:
customerid                 int64
gender                    object
age                        int32
annual_income_(k$)         int32
spending_score_(1-100)     int32
dtype: object

In [8]:
summary = {
    "shape": df.shape,
    "columns": list(df.columns),
    "data_types": df.dtypes.astype(str).to_dict(),
    "nulls_per_column": df.isnull().sum().to_dict(),
    "duplicate_rows_remaining": df.duplicated().sum()
}

print("=== Summary ===")
for key, value in summary.items():
    print(f"{key}: {value}")

=== Summary ===
shape: (200, 5)
columns: ['customerid', 'gender', 'age', 'annual_income_(k$)', 'spending_score_(1-100)']
data_types: {'customerid': 'int64', 'gender': 'object', 'age': 'int32', 'annual_income_(k$)': 'int32', 'spending_score_(1-100)': 'int32'}
nulls_per_column: {'customerid': 0, 'gender': 0, 'age': 0, 'annual_income_(k$)': 0, 'spending_score_(1-100)': 0}
duplicate_rows_remaining: 0